:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}

* {
  box-sizing: border-box;
  background-color: #3f454d;
 
}

 button{
  border:none;
  color:black;
  height:30px;
}

/*container*/
.contaier{
  height:100vh;

}

/*top image*/
.mall-img{
  text-align:center;
  margin-top:50px;
  margin-bottom:10px;

}
.mall-img img{
  width:80px;
}

/*filter list*/
.filter-list{
  display:flex;
  align-items: center;
  justify-content: center;
}
.filter-list img{
  width:40px;
  margin-right:15px;
}

.filter-list button{
  margin-right:10px;
}
.button-b{
  background-color:#3b88c3;;
}
.button-p{
  background-color: #fd7f84;
}
.button-y{
  background-color: #fbbe28;
}

/*cloth list*/